
/* Notes, Warnings, etc */

.rst-content .admonition-title {
    display: block;
    font-family: "Open Sans", sans-serif;
}

.rst-content .admonition-title::before {
    font-family: "FontAwesome";
}

/* Badges for "Logged in users", "Document owners" etc */

.badge {
    display: inline-block;
    background-color: #ddd;
    padding: 2px 5px;
}

h3 {
    margin: 40px 0px 15px 0px;
}

.rst-content code.literal {
    color: #FF0073;
    border-color: #ccc;
    padding: 0.15em 0.5em;
}