
/* Notes, Warnings, etc */

.rst-content .admonition-title {
    display: block;
    font-family: "Open Sans", sans-serif;
}

.rst-content .admonition-title::before {
    font-family: "FontAwesome";
}

/* Badges for "Logged in users", "Document owners" etc */

.badge-user, .badge-owner {
    display: inline-block;
    font-size: 0.8em;
    background-color: #c2e2f8;
    padding: 0px 5px;
}

.badge-owner::before, .badge-user::before {
    font-family: "FontAwesome";
}

.badge-user::before {
    content: " ";
}

.badge-owner::before {
    content: " ";
}

h3 {
    margin: 40px 0px 15px 0px;
}

.rst-content code.literal {
    color: #FF0073;
    border-color: #ccc;
    padding: 0.15em 0.5em;
}