
/* Notes, Warnings, etc */

.rst-content .admonition-title {
    display: block;
    font-family: "Open Sans", sans-serif;
}

.rst-content .admonition-title::before {
    font-family: "FontAwesome";
}

/* Badges for "Logged in users", "Document owners" etc */

.badge {
    display: inline-block;
    background-color: #ddd;
    padding: 2px 5px;
}

.wy-menu-vertical li.toctree-l4 ul {
    display: none !important;
}

.wy-menu-vertical li.toctree-l4 .toctree-expand {
    display: none !important;
}
