_build/doctrees/environment.pickle
_build/doctrees/index.doctree
_build/html/.buildinfo
_build/html/genindex.html
_build/html/index.html
_build/html/objects.inv
_build/html/search.html
_build/html/searchindex.js
_build/html/.doctrees/environment.pickle
_build/html/.doctrees/index.doctree
_build/html/_sources/index.rst.txt
_build/html/_static/alabaster.css
_build/html/_static/basic.css
_build/html/_static/custom.css
_build/html/_static/doctools.js
_build/html/_static/documentation_options.js
_build/html/_static/file.png
_build/html/_static/jquery-3.5.1.js
_build/html/_static/jquery.js
_build/html/_static/language_data.js
_build/html/_static/minus.png
_build/html/_static/plus.png
_build/html/_static/pygments.css
_build/html/_static/searchtools.js
_build/html/_static/underscore-1.3.1.js
_build/html/_static/underscore.js
.vscode/settings.json
